<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="zh">
<head>
    <meta content="text/html" charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        @media (prefers-color-scheme: dark) {
            .logo{
                fill: #bababa;
            }
            body{
                background-color: #1e1f22;
                color: #bababa;
                padding: 15px;
            }
            button{

            }
        }
        @media (prefers-color-scheme: light)  {
            .logo{
                fill: black;
            }

        }
    </style>
</head>
<body style="display: flex;justify-content: center;align-items: center">
    <div style="text-align: left">
        <div style="text-align: right;height: 75px">
            <img src="http://localhost:8080/fs/logo.png" alt=""/>
        </div>
        <h1>确认你的邮件地址</h1>
        <p>在创建 CyberAster 账号之前，你需要完成一个简单的步骤。让我们确保这是正确的邮件地址 — 请确认这是用于你的新账号的正确地址。</p>
        <p>请点击此按钮以开始使用 CyberAster：</p>
        <a href="{t_url}" target="_blank">确认邮箱地址</a>
        <p>确认邮件15分钟后过期。</p>
        <p>谢谢，</p>
        <p>CyberAster</p>
    </div>
</body>
</html>